mailbox/n8n/workflows/MailBOX-Digest.json
{
  "active": true,
  "connections": {
    "Daily Digest Schedule": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Digest",
            "type": "main"
          }
        ]
      ]
    },
    "Get Digest": {
      "main": [
        [
          {
            "index": 0,
            "node": "Should Send?",
            "type": "main"
          }
        ]
      ]
    },
    "Should Send?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send Digest",
            "type": "main"
          }
        ],
        []
      ]
    },
    "Send Digest": {
      "main": [
        [
          {
            "index": 0,
            "node": "Record Send",
            "type": "main"
          }
        ]
      ]
    }
  },
  "description": "MBOX-132 Phase 2d — daily operator digest. Fires once per day at DIGEST_SEND_HOUR_LOCAL, asks the dashboard to render the digest + decide whether to send (recipient resolved + DIGEST_SEND_FROM_GMAIL on + not already sent today), sends via appliance Gmail OAuth, then records the send in mailbox.digest_sends for the once-per-day de-dupe guard.",
  "id": "MlbxDigestSb0001",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "MailBOX-Digest",
  "nodes": [
    {
      "id": "a1000000-0000-0000-0000-000000000001",
      "name": "Daily Digest Schedule",
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": "={{ Number($env.DIGEST_SEND_HOUR_LOCAL ?? 7) }}",
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3
    },
    {
      "id": "a1000000-0000-0000-0000-000000000002",
      "name": "Get Digest",
      "parameters": {
        "method": "GET",
        "url": "http://mailbox-dashboard:3001/dashboard/api/internal/digest",
        "options": {
          "timeout": 15000
        }
      },
      "position": [
        220,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "a1000000-0000-0000-0000-000000000003",
      "name": "Should Send?",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1000c01-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.should_send }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "position": [
        440,
        0
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "a1000000-0000-0000-0000-000000000004",
      "name": "Send Digest",
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.recipient }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "vEz5mz0uaAtlK8yz",
          "name": "Gmail account"
        }
      },
      "position": [
        660,
        -100
      ],
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1
    },
    {
      "id": "a1000000-0000-0000-0000-000000000005",
      "name": "Record Send",
      "parameters": {
        "method": "POST",
        "url": "http://mailbox-dashboard:3001/dashboard/api/internal/digest/record",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sent_on\": {{ JSON.stringify($('Get Digest').item.json.sent_on) }},\n  \"recipient\": {{ JSON.stringify($('Get Digest').item.json.recipient || \"\") }},\n  \"subject\": {{ JSON.stringify($('Get Digest').item.json.subject || \"\") }}\n}",
        "options": {
          "timeout": 5000
        }
      },
      "position": [
        880,
        -100
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    }
  ],
  "pinData": {},
  "settings": {
    "errorWorkflow": "MlbxErrHandler01",
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
