mailbox/n8n/workflows/MailBOX-AlertCheck.json
{
  "active": true,
  "connections": {
    "Alert Schedule": {
      "main": [
        [
          {
            "index": 0,
            "node": "Check Alerts",
            "type": "main"
          }
        ]
      ]
    },
    "Check Alerts": {
      "main": [
        [
          {
            "index": 0,
            "node": "Should Send?",
            "type": "main"
          }
        ]
      ]
    },
    "Send Alert": {
      "main": [
        [
          {
            "index": 0,
            "node": "Record Send",
            "type": "main"
          }
        ]
      ]
    },
    "Should Send?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send Alert",
            "type": "main"
          }
        ],
        []
      ]
    }
  },
  "description": "MBOX-185 (FR-22) \u2014 operator threshold-alert email push. Polls the dashboard alert-check route every ALERT_CHECK_INTERVAL_MIN minutes; the route returns the alarm-severity alerts not yet emailed today (same evaluateAlerts surface as /status). When should_send is true it sends a combined alert email via appliance Gmail OAuth, then records the claimed alert_keys in mailbox.alert_sends so the same red condition emails once per day, not every poll. Slack/Telegram + per-customer cadence deferred to M6.",
  "id": "MlbxAlertChk001",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "MailBOX-AlertCheck",
  "nodeGroups": [],
  "nodes": [
    {
      "id": "b2000000-0000-0000-0000-000000000001",
      "name": "Alert Schedule",
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": "={{ Number($env.ALERT_CHECK_INTERVAL_MIN ?? 15) }}"
            }
          ]
        }
      },
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3
    },
    {
      "id": "b2000000-0000-0000-0000-000000000002",
      "name": "Check Alerts",
      "parameters": {
        "method": "GET",
        "options": {
          "timeout": 15000
        },
        "url": "http://mailbox-dashboard:3001/dashboard/api/internal/alert-check"
      },
      "position": [
        220,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "b2000000-0000-0000-0000-000000000003",
      "name": "Should Send?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "b2000c01-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.should_send }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        440,
        0
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "gmailOAuth2": {
          "id": "vEz5mz0uaAtlK8yz",
          "name": "Gmail account"
        }
      },
      "id": "b2000000-0000-0000-0000-000000000004",
      "name": "Send Alert",
      "parameters": {
        "emailType": "html",
        "message": "={{ $json.html }}",
        "operation": "send",
        "options": {
          "appendAttribution": false
        },
        "resource": "message",
        "sendTo": "={{ $json.recipient }}",
        "subject": "={{ $json.subject }}"
      },
      "position": [
        660,
        -100
      ],
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1
    },
    {
      "id": "b2000000-0000-0000-0000-000000000005",
      "name": "Record Send",
      "parameters": {
        "jsonBody": "={\n  \"alert_keys\": {{ JSON.stringify($('Check Alerts').item.json.alert_keys) }},\n  \"recipient\": {{ JSON.stringify($('Check Alerts').item.json.recipient || \"\") }},\n  \"subject\": {{ JSON.stringify($('Check Alerts').item.json.subject || \"\") }}\n}",
        "method": "POST",
        "options": {
          "timeout": 5000
        },
        "sendBody": true,
        "specifyBody": "json",
        "url": "http://mailbox-dashboard:3001/dashboard/api/internal/alert-check/record"
      },
      "position": [
        880,
        -100
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    }
  ],
  "pinData": {},
  "settings": {
    "errorWorkflow": "MlbxErrHandler01",
    "executionOrder": "v1"
  },
  "sourceWorkflowId": null,
  "staticData": {
    "node:Alert Schedule": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "versionMetadata": {
    "description": null,
    "name": null
  }
}
