mailbox/n8n/workflows/MailBOX.json
{
  "active": true,
  "connections": {
    "Bootstrap Check": {
      "main": [
        [
          {
            "index": 0,
            "node": "List Accounts",
            "type": "main"
          }
        ]
      ]
    },
    "Cooldown Active?": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Bootstrap Check",
            "type": "main"
          }
        ]
      ]
    },
    "Cooldown Check": {
      "main": [
        [
          {
            "index": 0,
            "node": "Cooldown Active?",
            "type": "main"
          }
        ]
      ]
    },
    "Cycle Stats": {
      "main": [
        [
          {
            "index": 0,
            "node": "Cycle Complete",
            "type": "main"
          }
        ]
      ]
    },
    "Ensure Messages": {
      "main": [
        [
          {
            "index": 0,
            "node": "Split Messages",
            "type": "main"
          }
        ]
      ]
    },
    "Every 5 Minutes": {
      "main": [
        [
          {
            "index": 0,
            "node": "Cooldown Check",
            "type": "main"
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "index": 0,
            "node": "Insert Inbox (HTTP)",
            "type": "main"
          }
        ]
      ]
    },
    "Get Gmail Token": {
      "main": [
        [
          {
            "index": 0,
            "node": "Gmail List",
            "type": "main"
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "index": 0,
            "node": "Extract Fields",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Cycle Stats",
            "type": "main"
          }
        ]
      ]
    },
    "Gmail Get": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get many messages",
            "type": "main"
          }
        ]
      ]
    },
    "Gmail List": {
      "main": [
        [
          {
            "index": 0,
            "node": "Ensure Messages",
            "type": "main"
          }
        ]
      ]
    },
    "Insert Inbox (HTTP)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Only If Newly Inserted",
            "type": "main"
          }
        ]
      ]
    },
    "List Accounts": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Gmail Token",
            "type": "main"
          }
        ]
      ]
    },
    "Only If Newly Inserted": {
      "main": [
        [
          {
            "index": 0,
            "node": "Run Classify Sub",
            "type": "main"
          }
        ]
      ]
    },
    "Split Messages": {
      "main": [
        [
          {
            "index": 0,
            "node": "Gmail Get",
            "type": "main"
          }
        ]
      ]
    }
  },
  "description": null,
  "id": "sB8vbmVRHvqmJO4N",
  "isArchived": false,
  "meta": null,
  "name": "MailBOX",
  "nodeGroups": [],
  "nodes": [
    {
      "id": "4030e1d3-9890-42eb-9918-c56049684864",
      "name": "Every 5 Minutes",
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "position": [
        -176,
        176
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3
    },
    {
      "id": "008da8d6-a336-4637-9e36-38c599924586",
      "name": "Cooldown Check",
      "parameters": {
        "options": {
          "timeout": 5000
        },
        "url": "http://mailbox-dashboard:3001/dashboard/api/internal/gmail-cooldown"
      },
      "position": [
        -64,
        16
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "cc96ba56-f19e-4276-ac08-25cea75ef5b0",
      "name": "Cooldown Active?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "fcd0c001-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.in_cooldown }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        96,
        -48
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "178b707a-7801-45e7-8815-f847c6987b19",
      "name": "Get Gmail Token",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Hermes-Internal-Token",
              "value": "={{ $env.HERMES_INTERNAL_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        },
        "sendHeaders": true,
        "url": "=http://mailbox-dashboard:3001/dashboard/api/internal/google/access-token?account_email={{ $json.account_email }}"
      },
      "position": [
        48,
        176
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "9e8480cb-0555-4b2d-a513-68487e3ada76",
      "name": "Gmail List",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Gmail Token').item.json.access_token }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        },
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "is:unread in:inbox -from:me newer_than:2d"
            },
            {
              "name": "maxResults",
              "value": "={{ $('Bootstrap Check').item.json.gmail_get_limit }}"
            }
          ]
        },
        "sendHeaders": true,
        "sendQuery": true,
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/messages"
      },
      "position": [
        176,
        176
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "9405d4d1-049f-48e0-8abd-600ec33f5bef",
      "name": "Split Messages",
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "position": [
        272,
        48
      ],
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1
    },
    {
      "id": "84c9955e-e62f-4cda-90ee-0ba2f52a7627",
      "name": "Gmail Get",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Gmail Token').item.json.access_token }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        },
        "queryParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "full"
            }
          ]
        },
        "sendHeaders": true,
        "sendQuery": true,
        "url": "=https://gmail.googleapis.com/gmail/v1/users/me/messages/{{ $json.id }}"
      },
      "position": [
        416,
        48
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "3472b1c6-29a2-48d1-b48c-9dc93fd13ec8",
      "name": "Get many messages",
      "parameters": {
        "jsCode": "// MBOX-466: normalize Gmail REST (users.messages.get?format=full) output\n// back to the simpleParser-style shape the downstream `Extract Fields` set\n// node consumes (from.value[0].address, to.value[0].address, subject, date,\n// text, inReplyTo, references). The old n8n Gmail node emitted these even with\n// simple:false; raw REST does not, so we rebuild them here.\nconst msg = $json;\nconst payload = msg.payload || {};\nconst headers = payload.headers || [];\n\nfunction header(name) {\n  const target = name.toLowerCase();\n  const h = headers.find((x) => x && typeof x.name === 'string' && x.name.toLowerCase() === target);\n  return h ? h.value : '';\n}\n\n// Extract the bare email address from a header like \"Name <email>\" or \"email\".\nfunction addr(value) {\n  if (!value) return '';\n  const angle = value.match(/<([^>]+)>/);\n  if (angle) return angle[1].trim();\n  const bare = value.match(/[^\\s<>\"]+@[^\\s<>\"]+/);\n  return bare ? bare[0].trim() : value.trim();\n}\n\n// Walk the MIME tree and return the first text/plain body (base64url-decoded).\nfunction findPlainText(part) {\n  if (!part) return '';\n  const mime = part.mimeType || '';\n  if (mime === 'text/plain' && part.body && part.body.data) {\n    return Buffer.from(part.body.data, 'base64url').toString('utf8');\n  }\n  if (Array.isArray(part.parts)) {\n    for (const p of part.parts) {\n      const found = findPlainText(p);\n      if (found) return found;\n    }\n  }\n  return '';\n}\n\n// Single-part messages carry the body directly on payload.body.data.\nlet text = findPlainText(payload);\nif (!text && payload.body && payload.body.data && (payload.mimeType || '').startsWith('text/')) {\n  text = Buffer.from(payload.body.data, 'base64url').toString('utf8');\n}\n\nreturn {\n  id: msg.id,\n  threadId: msg.threadId,\n  from: { value: [{ address: addr(header('From')) }] },\n  to: { value: [{ address: (header('To') || '').trim() }] },\n  subject: header('Subject'),\n  date: (() => { const t = Date.parse(header('Date')); return Number.isNaN(t) ? null : new Date(t).toISOString(); })(),\n  text: text,\n  inReplyTo: header('In-Reply-To'),\n  references: header('References'),\n};\n",
        "mode": "runOnceForEachItem"
      },
      "position": [
        656,
        176
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "ea6e2864-3c5f-482d-9592-bbb8b489e883",
      "name": "Extract Fields",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f472d586-ec54-42b1-8ce4-082c01797418",
              "name": "message_id",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "f977becc-4ffe-4810-8b3b-fd073fa495bb",
              "name": "thread_id",
              "type": "string",
              "value": "={{ $json.threadId }}"
            },
            {
              "id": "b6a9209f-2446-4f5d-81f4-626aff6c1a89",
              "name": "from_addr",
              "type": "string",
              "value": "={{ $json.from && $json.from.value && $json.from.value[0] ? $json.from.value[0].address : '' }}"
            },
            {
              "id": "7540888f-3c61-4214-9ff9-465932a11a45",
              "name": "to_addr",
              "type": "string",
              "value": "={{ $json.to && $json.to.value && $json.to.value[0] ? $json.to.value[0].address : '' }}"
            },
            {
              "id": "876686b7-8b67-497d-8f74-46eafccd534f",
              "name": "subject",
              "type": "string",
              "value": "={{ $json.subject || '' }}"
            },
            {
              "id": "edd0095e-7a03-41f8-bc00-5088d747f0a1",
              "name": "received_at",
              "type": "string",
              "value": "={{ $json.date }}"
            },
            {
              "id": "10f256b3-0e87-44a2-a2ec-a45ec2d814fb",
              "name": "snippet",
              "type": "string",
              "value": "={{ ($json.text || '').substring(0, 200) }}"
            },
            {
              "id": "5f661709-b118-4534-a3b6-bfa51df5dba6",
              "name": "body",
              "type": "string",
              "value": "={{ $json.text || '' }}"
            },
            {
              "id": "915491fc-fcf4-4c8b-8e6b-ba81bc2c459c",
              "name": "in_reply_to",
              "type": "string",
              "value": "={{ $json.inReplyTo }}"
            },
            {
              "id": "2bdd03d8-ed5e-4d03-ab64-4c6bdf483cb8",
              "name": "references",
              "type": "string",
              "value": "={{ $json.references }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        416,
        208
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "84260151-424e-441f-8f81-bd2e2dd3f5c4",
      "name": "Insert Inbox (HTTP)",
      "parameters": {
        "jsonBody": "={\n  \"message_id\": {{ JSON.stringify($json.message_id || \"\") }},\n  \"thread_id\": {{ JSON.stringify($json.thread_id || \"\") }},\n  \"from_addr\": {{ JSON.stringify($json.from_addr || \"\") }},\n  \"to_addr\": {{ JSON.stringify($json.to_addr || \"\") }},\n  \"subject\": {{ JSON.stringify($json.subject || \"\") }},\n  \"received_at\": {{ JSON.stringify($json.received_at || \"\") }},\n  \"snippet\": {{ JSON.stringify($json.snippet || \"\") }},\n  \"body\": {{ JSON.stringify($json.body || \"\") }},\n  \"in_reply_to\": {{ JSON.stringify($json.in_reply_to || \"\") }},\n  \"references\": {{ JSON.stringify($json.references || \"\") }},\n  \"account_email\": {{ JSON.stringify($('List Accounts').item.json.account_email || \"\") }}\n}",
        "method": "POST",
        "options": {
          "timeout": 5000
        },
        "sendBody": true,
        "specifyBody": "json",
        "url": "http://mailbox-dashboard:3001/dashboard/api/internal/inbox-messages"
      },
      "position": [
        544,
        -48
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "324f045c-03dd-47a6-a3b6-a00f5323aba4",
      "name": "Run Classify Sub",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MlbxClsfySub0001"
        }
      },
      "position": [
        960,
        160
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2
    },
    {
      "id": "66f25a5d-8275-44e7-a475-2731f170a1ba",
      "name": "Only If Newly Inserted",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "243a7971-779a-4c76-b3b7-2aaf09735dfe",
              "leftValue": "={{ $json.created }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        704,
        0
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "90c85912-8eea-4737-9b0e-3e755e14934d",
      "name": "Bootstrap Check",
      "parameters": {
        "options": {
          "timeout": 5000
        },
        "url": "http://mailbox-dashboard:3001/dashboard/api/internal/gmail-bootstrap"
      },
      "position": [
        -256,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "19316f64-002b-4d4f-8760-12332d51e53c",
      "name": "Cycle Stats",
      "parameters": {
        "jsCode": "return [{ json: { messages_returned: items.length } }];"
      },
      "position": [
        272,
        368
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "de5f0f8b-a7ac-4ca6-a049-0e81645c2085",
      "name": "Cycle Complete",
      "parameters": {
        "jsonBody": "={\n  \"messages_returned\": {{ $json.messages_returned }}\n}",
        "method": "POST",
        "options": {
          "timeout": 5000
        },
        "sendBody": true,
        "specifyBody": "json",
        "url": "http://mailbox-dashboard:3001/dashboard/api/internal/gmail-cycle-complete"
      },
      "position": [
        496,
        368
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "credentials": {
        "postgres": {
          "id": "JFX4tvrffvKnTouV",
          "name": "MailBox Postgres"
        }
      },
      "id": "b7a1c2d3-1111-4aaa-9bbb-2cc3dd4ee5f6",
      "name": "List Accounts",
      "parameters": {
        "operation": "executeQuery",
        "options": {},
        "query": "SELECT email_address AS account_email FROM mailbox.accounts WHERE email_address <> 'primary@appliance.local' ORDER BY id"
      },
      "position": [
        -120,
        176
      ],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6
    },
    {
      "id": "c8d2e3f4-2222-4bbb-8ccc-3dd4ee5ff6a7",
      "name": "Ensure Messages",
      "parameters": {
        "jsCode": "// MBOX-466 multi-account: Gmail list response omits `messages` when an\n// account has no matches; default to [] so Split Messages emits 0 items\n// instead of erroring and killing the whole multi-account cycle.\nreturn { json: { messages: $json.messages || [] } };",
        "mode": "runOnceForEachItem"
      },
      "position": [
        224,
        112
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "errorWorkflow": "MlbxErrHandler01",
    "executionOrder": "v1"
  },
  "sourceWorkflowId": null,
  "staticData": {
    "node:Every 5 Minutes": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "versionMetadata": {
    "description": null,
    "name": null
  }
}
