mailbox/n8n/workflows/MailBOX.json
{
  "active": true,
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "index": 0,
            "node": "Cooldown Check",
            "type": "main"
          }
        ]
      ]
    },
    "Cooldown Check": {
      "main": [
        [
          {
            "index": 0,
            "node": "Cooldown Active?",
            "type": "main"
          }
        ]
      ]
    },
    "Cooldown Active?": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Bootstrap Check",
            "type": "main"
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "index": 0,
            "node": "Insert Inbox (HTTP)",
            "type": "main"
          }
        ]
      ]
    },
    "Get Gmail Token": {
      "main": [
        [
          {
            "index": 0,
            "node": "Gmail List",
            "type": "main"
          }
        ]
      ]
    },
    "Gmail List": {
      "main": [
        [
          {
            "index": 0,
            "node": "Split Messages",
            "type": "main"
          }
        ]
      ]
    },
    "Split Messages": {
      "main": [
        [
          {
            "index": 0,
            "node": "Gmail Get",
            "type": "main"
          }
        ]
      ]
    },
    "Gmail Get": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get many messages",
            "type": "main"
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "index": 0,
            "node": "Extract Fields",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Cycle Stats",
            "type": "main"
          }
        ]
      ]
    },
    "Insert Inbox (HTTP)": {
      "main": [
        [
          {
            "node": "Only If Newly Inserted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only If Newly Inserted": {
      "main": [
        [
          {
            "node": "Run Classify Sub",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Bootstrap Check": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Gmail Token",
            "type": "main"
          }
        ]
      ]
    },
    "Cycle Stats": {
      "main": [
        [
          {
            "index": 0,
            "node": "Cycle Complete",
            "type": "main"
          }
        ]
      ]
    }
  },
  "description": null,
  "id": "C3kG7uKyRgxXpcJv",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "MailBOX",
  "nodes": [
    {
      "id": "9cb2c0c7-3477-4660-8729-e78b71189c6a",
      "name": "Every 5 Minutes",
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3
    },
    {
      "id": "fcd00000-0000-0000-0000-000000000001",
      "name": "Cooldown Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        110,
        -150
      ],
      "parameters": {
        "method": "GET",
        "url": "http://mailbox-dashboard:3001/dashboard/api/internal/gmail-cooldown",
        "options": {
          "timeout": 5000
        }
      }
    },
    {
      "id": "fcd00000-0000-0000-0000-000000000002",
      "name": "Cooldown Active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        -150
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fcd0c001-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.in_cooldown }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1f1e2d3-0001-4a00-9000-000000000001",
      "name": "Get Gmail Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        220,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "=http://mailbox-dashboard:3001/dashboard/api/internal/google/access-token?account_email={{ $('Bootstrap Check').item.json.account_email }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Hermes-Internal-Token",
              "value": "={{ $env.HERMES_INTERNAL_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      }
    },
    {
      "id": "a1f1e2d3-0002-4a00-9000-000000000002",
      "name": "Gmail List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        340,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "is:unread in:inbox -from:me newer_than:2d"
            },
            {
              "name": "maxResults",
              "value": "={{ $('Bootstrap Check').item.json.gmail_get_limit }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Gmail Token').item.json.access_token }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "a1f1e2d3-0003-4a00-9000-000000000003",
      "name": "Split Messages",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        440,
        -120
      ],
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      }
    },
    {
      "id": "a1f1e2d3-0004-4a00-9000-000000000004",
      "name": "Gmail Get",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        540,
        -120
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://gmail.googleapis.com/gmail/v1/users/me/messages/{{ $json.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "full"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Gmail Token').item.json.access_token }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "9024ea76-59b0-4ff6-a4d2-f7340579e1e5",
      "name": "Get many messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        0
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// MBOX-466: normalize Gmail REST (users.messages.get?format=full) output\n// back to the simpleParser-style shape the downstream `Extract Fields` set\n// node consumes (from.value[0].address, to.value[0].address, subject, date,\n// text, inReplyTo, references). The old n8n Gmail node emitted these even with\n// simple:false; raw REST does not, so we rebuild them here.\nconst msg = $json;\nconst payload = msg.payload || {};\nconst headers = payload.headers || [];\n\nfunction header(name) {\n  const target = name.toLowerCase();\n  const h = headers.find((x) => x && typeof x.name === 'string' && x.name.toLowerCase() === target);\n  return h ? h.value : '';\n}\n\n// Extract the bare email address from a header like \"Name <email>\" or \"email\".\nfunction addr(value) {\n  if (!value) return '';\n  const angle = value.match(/<([^>]+)>/);\n  if (angle) return angle[1].trim();\n  const bare = value.match(/[^\\s<>\"]+@[^\\s<>\"]+/);\n  return bare ? bare[0].trim() : value.trim();\n}\n\n// Walk the MIME tree and return the first text/plain body (base64url-decoded).\nfunction findPlainText(part) {\n  if (!part) return '';\n  const mime = part.mimeType || '';\n  if (mime === 'text/plain' && part.body && part.body.data) {\n    return Buffer.from(part.body.data, 'base64url').toString('utf8');\n  }\n  if (Array.isArray(part.parts)) {\n    for (const p of part.parts) {\n      const found = findPlainText(p);\n      if (found) return found;\n    }\n  }\n  return '';\n}\n\n// Single-part messages carry the body directly on payload.body.data.\nlet text = findPlainText(payload);\nif (!text && payload.body && payload.body.data && (payload.mimeType || '').startsWith('text/')) {\n  text = Buffer.from(payload.body.data, 'base64url').toString('utf8');\n}\n\nreturn {\n  id: msg.id,\n  threadId: msg.threadId,\n  from: { value: [{ address: addr(header('From')) }] },\n  to: { value: [{ address: addr(header('To')) }] },\n  subject: header('Subject'),\n  date: (() => { const t = Date.parse(header('Date')); return Number.isNaN(t) ? null : new Date(t).toISOString(); })(),\n  text: text,\n  inReplyTo: header('In-Reply-To'),\n  references: header('References'),\n};\n"
      }
    },
    {
      "id": "cb0c441f-df40-49af-8d26-908f789eb804",
      "name": "Extract Fields",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f472d586-ec54-42b1-8ce4-082c01797418",
              "name": "message_id",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "f977becc-4ffe-4810-8b3b-fd073fa495bb",
              "name": "thread_id",
              "type": "string",
              "value": "={{ $json.threadId }}"
            },
            {
              "id": "b6a9209f-2446-4f5d-81f4-626aff6c1a89",
              "name": "from_addr",
              "type": "string",
              "value": "={{ $json.from && $json.from.value && $json.from.value[0] ? $json.from.value[0].address : '' }}"
            },
            {
              "id": "7540888f-3c61-4214-9ff9-465932a11a45",
              "name": "to_addr",
              "type": "string",
              "value": "={{ $json.to && $json.to.value && $json.to.value[0] ? $json.to.value[0].address : '' }}"
            },
            {
              "id": "876686b7-8b67-497d-8f74-46eafccd534f",
              "name": "subject",
              "type": "string",
              "value": "={{ $json.subject || '' }}"
            },
            {
              "id": "edd0095e-7a03-41f8-bc00-5088d747f0a1",
              "name": "received_at",
              "type": "string",
              "value": "={{ $json.date }}"
            },
            {
              "id": "10f256b3-0e87-44a2-a2ec-a45ec2d814fb",
              "name": "snippet",
              "type": "string",
              "value": "={{ ($json.text || '').substring(0, 200) }}"
            },
            {
              "id": "5f661709-b118-4534-a3b6-bfa51df5dba6",
              "name": "body",
              "type": "string",
              "value": "={{ $json.text || '' }}"
            },
            {
              "id": "915491fc-fcf4-4c8b-8e6b-ba81bc2c459c",
              "name": "in_reply_to",
              "type": "string",
              "value": "={{ $json.inReplyTo }}"
            },
            {
              "id": "2bdd03d8-ed5e-4d03-ab64-4c6bdf483cb8",
              "name": "references",
              "type": "string",
              "value": "={{ $json.references }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        440,
        0
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "b03f0cf8-12fb-4a81-91b2-118fcdf91845",
      "name": "Insert Inbox (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        660,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "http://mailbox-dashboard:3001/dashboard/api/internal/inbox-messages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message_id\": {{ JSON.stringify($json.message_id || \"\") }},\n  \"thread_id\": {{ JSON.stringify($json.thread_id || \"\") }},\n  \"from_addr\": {{ JSON.stringify($json.from_addr || \"\") }},\n  \"to_addr\": {{ JSON.stringify($json.to_addr || \"\") }},\n  \"subject\": {{ JSON.stringify($json.subject || \"\") }},\n  \"received_at\": {{ JSON.stringify($json.received_at || \"\") }},\n  \"snippet\": {{ JSON.stringify($json.snippet || \"\") }},\n  \"body\": {{ JSON.stringify($json.body || \"\") }},\n  \"in_reply_to\": {{ JSON.stringify($json.in_reply_to || \"\") }},\n  \"references\": {{ JSON.stringify($json.references || \"\") }},\n  \"account_email\": {{ JSON.stringify($('Bootstrap Check').item.json.account_email || \"\") }}\n}",
        "options": {
          "timeout": 5000
        }
      }
    },
    {
      "id": "exw00000-0000-0000-0000-000000000001",
      "name": "Run Classify Sub",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MlbxClsfySub0001"
        }
      },
      "position": [
        880,
        0
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2
    },
    {
      "id": "673d55a9-1a44-4c1d-a2e0-1bca7394988b",
      "name": "Only If Newly Inserted",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        770,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "243a7971-779a-4c76-b3b7-2aaf09735dfe",
              "leftValue": "={{ $json.created }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "name": "Bootstrap Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "http://mailbox-dashboard:3001/dashboard/api/internal/gmail-bootstrap",
        "options": {
          "timeout": 5000
        }
      }
    },
    {
      "name": "Cycle Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        200
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { messages_returned: items.length } }];"
      }
    },
    {
      "name": "Cycle Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "http://mailbox-dashboard:3001/dashboard/api/internal/gmail-cycle-complete",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages_returned\": {{ $json.messages_returned }}\n}",
        "options": {
          "timeout": 5000
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none"
  },
  "staticData": {
    "node:Every 5 Minute": {
      "recurrenceRules": []
    },
    "node:Every 5 Minutes": {
      "recurrenceRules": []
    },
    "node:Every Minute": {
      "recurrenceRules": []
    }
  },
  "tags": []
}
