mailbox/n8n/workflows/MailBOX-Imap.json
{
  "active": false,
  "connections": {
    "Build Inbox Payload": {
      "main": [
        [
          {
            "index": 0,
            "node": "Insert Inbox (HTTP)",
            "type": "main"
          }
        ]
      ]
    },
    "IMAP Email": {
      "main": [
        [
          {
            "index": 0,
            "node": "Build Inbox Payload",
            "type": "main"
          }
        ]
      ]
    },
    "Insert Inbox (HTTP)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Only If Newly Inserted",
            "type": "main"
          }
        ]
      ]
    },
    "Only If Newly Inserted": {
      "main": [
        [
          {
            "index": 0,
            "node": "Run Classify Sub",
            "type": "main"
          }
        ],
        []
      ]
    }
  },
  "description": "MBOX-357 (P1 T5) \u2014 IMAP ingress, per DR-56 Option A (one n8n workflow per transport). The emailReadImap TRIGGER node watches the operator's IMAP INBOX (IDLE + internal UID tracking \u2192 only NEW mail; no native thread model). Build Inbox Payload flattens the mailparser-resolved fields to the strings the dashboard expects and tags provider:'imap'. The dashboard's /api/internal/inbox-messages then runs ImapSmtpProvider.normalize() SERVER-SIDE \u2014 the load-bearing step is thread_id synthesis (sha256 of the References/In-Reply-To chain root), which n8n cannot compute. Dedup is the DB's (account_id, message_id) upsert; 'created=false' (a re-fetch) short-circuits at Only If Newly Inserted. Classify/draft/queue/send are shared, provider-agnostic. ON IMPORT: (1) create + link an IMAP credential ('MailBox IMAP'); (2) set Build Inbox Payload's account_email to THIS IMAP account's address so multi-provider appliances file it under the right inbox (omit only on a single-account appliance where the IMAP account IS the default). RESIDUAL on-box check (DR-56 note): confirm emailReadImap polls + hands off reliably against a test mailbox before relying on it.",
  "id": "MailBoxImap000001",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "name": "MailBOX-Imap",
  "nodeGroups": [],
  "nodes": [
    {
      "credentials": {
        "imap": {
          "id": "REPLACE_ON_IMPORT_IMAP",
          "name": "MailBox IMAP"
        }
      },
      "id": "a1c00000-0000-0000-0000-000000000001",
      "name": "IMAP Email",
      "parameters": {
        "format": "resolved",
        "mailbox": "INBOX",
        "options": {
          "customEmailConfig": "[\"UNSEEN\"]"
        },
        "postProcessAction": "nothing"
      },
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2
    },
    {
      "id": "a1c00000-0000-0000-0000-000000000002",
      "name": "Build Inbox Payload",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0000001-0000-0000-0000-000000000001",
              "name": "provider",
              "type": "string",
              "value": "imap"
            },
            {
              "id": "b0000001-0000-0000-0000-000000000002",
              "name": "account_email",
              "type": "string",
              "value": "imap@example.com"
            },
            {
              "id": "b0000001-0000-0000-0000-000000000003",
              "name": "message_id",
              "type": "string",
              "value": "={{ $json.messageId || '' }}"
            },
            {
              "id": "b0000001-0000-0000-0000-000000000004",
              "name": "from_addr",
              "type": "string",
              "value": "={{ $json.from && $json.from.value && $json.from.value[0] ? $json.from.value[0].address : ($json.from && $json.from.text ? $json.from.text : '') }}"
            },
            {
              "id": "b0000001-0000-0000-0000-000000000005",
              "name": "to_addr",
              "type": "string",
              "value": "={{ $json.to && $json.to.value && $json.to.value[0] ? $json.to.value[0].address : ($json.to && $json.to.text ? $json.to.text : '') }}"
            },
            {
              "id": "b0000001-0000-0000-0000-000000000006",
              "name": "subject",
              "type": "string",
              "value": "={{ $json.subject || '' }}"
            },
            {
              "id": "b0000001-0000-0000-0000-000000000007",
              "name": "received_at",
              "type": "string",
              "value": "={{ $json.date || '' }}"
            },
            {
              "id": "b0000001-0000-0000-0000-000000000008",
              "name": "body",
              "type": "string",
              "value": "={{ $json.text || $json.textPlain || '' }}"
            },
            {
              "id": "b0000001-0000-0000-0000-000000000009",
              "name": "in_reply_to",
              "type": "string",
              "value": "={{ $json.inReplyTo || '' }}"
            },
            {
              "id": "b0000001-0000-0000-0000-00000000000a",
              "name": "references",
              "type": "string",
              "value": "={{ Array.isArray($json.references) ? $json.references.join(' ') : ($json.references || '') }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        220,
        0
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "a1c00000-0000-0000-0000-000000000003",
      "name": "Insert Inbox (HTTP)",
      "parameters": {
        "jsonBody": "={\n  \"provider\": {{ JSON.stringify($json.provider || \"imap\") }},\n  \"account_email\": {{ JSON.stringify($json.account_email || \"\") }},\n  \"message_id\": {{ JSON.stringify($json.message_id || \"\") }},\n  \"from_addr\": {{ JSON.stringify($json.from_addr || \"\") }},\n  \"to_addr\": {{ JSON.stringify($json.to_addr || \"\") }},\n  \"subject\": {{ JSON.stringify($json.subject || \"\") }},\n  \"received_at\": {{ JSON.stringify($json.received_at || \"\") }},\n  \"body\": {{ JSON.stringify($json.body || \"\") }},\n  \"in_reply_to\": {{ JSON.stringify($json.in_reply_to || \"\") }},\n  \"references\": {{ JSON.stringify($json.references || \"\") }}\n}",
        "method": "POST",
        "options": {
          "timeout": 5000
        },
        "sendBody": true,
        "specifyBody": "json",
        "url": "http://mailbox-dashboard:3001/dashboard/api/internal/inbox-messages"
      },
      "position": [
        440,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3
    },
    {
      "id": "a1c00000-0000-0000-0000-000000000004",
      "name": "Only If Newly Inserted",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "c0000001-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.created }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        660,
        0
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "a1c00000-0000-0000-0000-000000000005",
      "name": "Run Classify Sub",
      "parameters": {
        "options": {},
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "MlbxClsfySub0001"
        }
      },
      "position": [
        880,
        0
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2
    }
  ],
  "pinData": {},
  "settings": {
    "errorWorkflow": "MlbxErrHandler01",
    "executionOrder": "v1"
  },
  "sourceWorkflowId": null,
  "staticData": null,
  "tags": [],
  "versionMetadata": {
    "description": null,
    "name": null
  }
}
